{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}search{% endblock %}</title>
<link rel="stylesheet" href="{% static 'index.css' %}" >
    {% block css %}
    {% endblock %}
</head>
<body>
<div id="base">
    {% block head %}
  <ul class="base">

      <li><a href="{% url 'all_users' %}">所有用户</a></li>
      <li><a href="{% url 'search' %}">查询</a></li>
      <li><a href="{% url 'insert' %}">插入</a></li>
      <li><a href="{% url 'delete' %}">删除</a></li>
      <li><a href="{% url 'modify' %}">修改</a></li>

  </ul>
    {% endblock %}
</div>

<div>
    {% block content %}

    {% endblock %}
</div>

</body>
</html>