<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<title>北航跳骚市场</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css" >
	<link rel="stylesheet" type="text/css" href="../static/css/index.css" >
   <link rel="stylesheet" type="text/css" href="../static/css/login.css" >
</head>
<body>
<div class="bg" id="dialogBg"></div>
<header>
    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">北航二手交易平台！</p>
            <ul class="fr hd-bar">
                {% if user %}
                    <li class="active"><a href="../user">{{ user.nick_name }}</a></li>
                    <li><a href="../uploadgoods">上传物品</a></li>
                    <li><a href="../trolly">购物车</a></li>
                {% else %}
                    <li class="active"><a href="../login">[登录]</a></li>
                    <li><a href="../register">[注册]</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="images/logo.png" style="width: 160px; height: 53px;"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>

	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>

		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="python">校园卡</a></li>
			<li><a href="#model02" class="javascript">床位出租</a></li>
			<li><a href="#model03" class="algorithms">考研资料</a></li>
			<li><a href="#model04" class="machinelearning">电子设备</a></li>
			<li><a href="#model05" class="operatingsystem">教材</a></li>
			<li><a href="#model06" class="database">其他</a></li>
		</ul>


            <img src="images/slide.jpg" alt="幻灯片" style="width: 760px; height: 270px;">


		<div class="adv fl">
			<a href="#"><img src="images/adv01.jpg" style="width: 240px; height: 135px;"></a>
			<a href="#"><img src="images/adv02.jpg" style="width: 240px; height: 135px;"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">校园卡</h3>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="images/banner01.jpg"></div>
			<ul class="book_list fl">
                {% for card in cards %}
                    <li>
					    <h4><a href="#">{{ card.name }}</a></h4>
					    <a href="#"><img src={{ card.image.url }}></a>
					    <div class="prize">¥ {{ card.price }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">床位出租</h3>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="images/banner02.jpg"></div>
			<ul class="book_list fl">
                {% for rm in room %}
                    <li>
					    <h4><a href="#">{{ rm.name }}</a></h4>
					    <a href="#"><img src={{ rm.image.url }}></a>
					    <div class="prize">¥ {{ rm.price }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">考研资料</h3>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="images/banner03.jpg"></div>
			<ul class="book_list fl">
                {% for pt in postgraduate %}
                    <li>
					    <h4><a href="#">{{ pt.name }}</a></h4>
					    <a href="#"><img src={{ pt.image.url }}></a>
					    <div class="prize">¥ {{ pt.price }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">电子设备</h3>

			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="images/banner04.jpg"></div>
			<ul class="book_list fl">
                {% for dv in device %}
                    <li>
					    <h4><a href="#">{{ dv.name }}</a></h4>
					    <a href="#"><img src={{ dv.image.url }}></a>
					    <div class="prize">¥ {{ dv.price }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">教材</h3>

			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="images/banner05.jpg"></div>
			<ul class="book_list fl">
                {% for tm in teachingmeterial %}
                    <li>
					    <h4><a href="#">{{ tm.name }}</a></h4>
					    <a href="#"><img src={{ tm.image.url }}></a>
					    <div class="prize">¥ {{ tm.price }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">其他</h3>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="images/banner06.jpg"></div>
			<ul class="book_list fl">
                {% for item in others %}
                    <li>
					    <h4><a href="#">{{ item.name }}</a></h4>
					    <a href="#"><img src={{ item.image.url }}></a>
					    <div class="prize">¥ {{ item.price }}</div>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>
</body>
</html>