{% extends 'index.html' %}


{%  block title %}插入用户{% endblock %}



{% block content %}

    <form method="post" action="{% url 'insert' %}" class="form">

      <label for="stid">学号:</label>
      <input type="text"  name="stid" id="username" value="" /><br />

      <label for="name">姓名:</label>
      <input type="text"  name="name" id="name" value="" /><br />

        <label for="csnm">课程名字:</label>
      <input type="text"  name="csnm" id="csnm" value="" /><br />

        <label for="grade">分数:</label>
      <input type="text"  name="grade" id="grade" value="" /><br />

      <input type="submit" value="确定"  name="submit" />
      <input type="reset" value="重置" name="reset" />

    </form>

{% endblock %}