<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<title>北航跳骚市场登录</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css" >
	<link rel="stylesheet" type="text/css" href="../static/css/login.css" >
</head>

<body>


<div class="bg" id="dialogBg"></div>
<header>
    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">北航二手交易平台！</p>
            <ul class="fr hd-bar">
                <li class="active"><a href="../login">[登录]</a></li>
                <li><a href="../register">[注册]</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <div class="c-box bg-box">
        <div class="login-box clearfix">
            <div class="hd-login clearfix">
                <a class="index-logo" href="../register"></a>
                <h1>用户注册</h1>
                <a class="index-font" href="../index">回到首页</a>
            </div>
            <div class="fl form-box">
                <div class="tab">
                    <!--<h2 class="active">手机注册</h2>-->
                    <h2>注册</h2>
                </div>

                <div class="tab-form">
                    <form action={% url 'register' %} id="email_register_form" method="post"  autocomplete="off" enctype="multipart/form-data">

                        <input type='hidden' name='csrfmiddlewaretoken' value='gTZljXgnpvxn0fKZ1XkWrM1PrCGSjiCZ' />
                        <div class="form-group marb8 ">
                            <label>用 户 名</label>
                            <input  type="text" id="id_email" name="username" value="" placeholder="请输入用户名" />
                        </div>
                        <div class="form-group marb8 ">
                            <label>密     码</label>
                            <input type="passwaord" id="id_password" name="password"  value="" placeholder="请输入6-20位非中文字符密码" />
                        </div>
                        <div class="form-group marb8">
                            <label >性    别</label>
                            <input  type="radio" checked="checked" name="gender" value="男"/>男
                            <input  type="radio"  name="gender" value="女"/>女
                        </div>
                        <div class="form-group marb8 ">
                            <label>q    q</label>
                            <input type="text" id="qq" name="qq"  value="" placeholder="请输入qq号" />
                        </div>

                        <div class="form-group marb8 ">
                            <label>手 机 号</label>
                            <input type="text" id="phonenumber" name="mobile"  value="" placeholder="请输入11位手机号码" />
                        </div>

                        <div class="form-group marb8 ">
                            <label>邮    箱</label>
                            <input type="text" id="email" name="email"  value="" placeholder="请输入邮箱号" />
                        </div>

                        <div class="form-group marb8 ">
                            <label>年    级</label>
                            <select name="grade">
                                <option value="大一" >大一</option>
                                <option value="大二">大二</option>
                                <option value="大三">大三</option>
                                <option value="大四">大四</option>
                            </select>
                        </div>

                        <div class="form-group marb8 ">
                            <label>专    业</label>
                            <select name="major" class="">
                                <option value="材料科学与工程" >材料科学与工程</option>
                                <option value="电子信息工程">电子信息工程</option>
                                <option value="自动化科学与电气工程">自动化科学与电气工程</option>
                                <option value="能源与动力工程">能源与动力工程</option>
                                <option value="航空科学与工程" >航空科学与工程</option>
                                <option value="计算机学院">计算机学院</option>
                                <option value="机械工程及自动化">机械工程及自动化</option>
                                <option value="经济管理">经济管理</option>
                                <option value="数学与系统科学" >数学与系统科学</option>
                                <option value="生物与医学工程学院">生物与医学工程</option>
                                <option value="人文社会科学院">人文社会科学</option>
                                <option value="外国语学院">外国语学院</option>
                            </select>
                        </div>

                        <div class="form-group marb8 ">
                            <label >头       像 </label>
                            {% csrf_token %}
                            <input type="file" name="image" />选择图片<br />
                        </div>

                        <div>
                            {% if errmsg %}
                             <lable class="warn">{{ errmsg }}</lable>
                            {% endif %}
                        </div>
                        <div class="auto-box marb8">
                            <input class="btn btn-green" id="jsEmailRegBtn" type="submit" value="注册" />
                        </div>

                    <input type='hidden' name='csrfmiddlewaretoken' value='5I2SlleZJOMUX9QbwYLUIAOshdrdpRcy' />
                    </form>
                </div>
                <p class="form-p">已有账号？<a href="{% url 'login' %}">[立即登录]</a></p>
            </div>
        </div>
    </div>
</section>


</body>
</html>