<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <style>
        .base{
            overflow: hidden;
        }
        .base li{
            float:left;
            list-style: none;
            margin:0 20px;
        }
    </style>
</head>
<body>

  <ul class="base">

      <li><a href="{% url 'all_users' %}">所有用户</a></li>
      <li><a href="{% url 'search' %}">查询</a></li>
      <li><a href="{% url 'insert' %}">插入</a></li>
      <li><a href="{% url 'delete' %}">删除</a></li>
      <li><a href="{% url 'modify' %}">修改</a></li>

  </ul>

</body>
</html>