<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>北航跳骚市场-购物车</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login_white.css" >
</head>
<script>
    function cal() {

        {% for good in goods_set %}
            document.getElementById("total{{ good.goods.id }}").innerText={{ good.num }}*{{ good.goods.price }}+"元"
        {% endfor %}

    }

</script>
<body onload="cal()">
	<div class="bg" id="dialogBg"></div>
<header>
    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">北航二手交易平台！</p>
            <ul class="fr hd-bar">
                {% if user %}
                    <li class="active"><a href="../user">{{ user.nick_name }}</a></li>
                    <li><a href="../uploadgoods">上传物品</a></li>
                    <li><a href="../trolly">购物车</a></li>
                {% else %}
                    <li class="active"><a href="../login">[登录]</a></li>
                    <li><a href="../register">[注册]</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="../static/images/buaa.jpg" style="width: 120px; height: 80px;"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>

	<div class="total_count">全部商品<em>{{ total_num }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% for good in goods_set %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="" checked></li>
		<li class="col02"><img src={{ good.goods.image.url }}></li>
		<li class="col03" id="unitprice{{ good.goods.id }}"><br><em>{{ good.goods.name }}</em></li>
		<li class="col04">个</li>
		<li class="col05" >{{ good.goods.price }}</li>
		<li class="col06">
			<div class="num_add">
                <a href="../trolly/?type=add&good_id={{ good.goods.id }}" id="add" class="add fr" >+</a >
				<input type="text" class="num_show fl" id="{{ good.goods.id }}" value={{ good.num }} onchange="total_cal()">
                <a href="../trolly/?type=sub&good_id={{ good.goods.id }}" id="minus" class="minus fr" >-</a>
			</div>
		</li>
		<li class="col07" id="total{{ good.goods.id }}"> </li>
		<li class="col08"><a href="../trolly/?type=delete&good_id={{ good.goods.id }}">删除</a></li>
	</ul>
    {% empty %}
        <ul class="cart_list_td clearfix">
            <div class="empty"><p class="emptytext">你的🛒空空如也，快去买点东西吧！</p></div>
        </ul >
    {% endfor %}



	<ul class="settlements">

		<li class="col03">合计(不含运费)：<span>¥</span><em>{{ total_price }}</em><br>共计<b>{{ total_num }}</b>件商品</li>
		<li class="col04"><a href="../order">去结算</a></li>
	</ul>


</body>
</html>