<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <title>北航跳蚤市场</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" >
	<link rel="stylesheet" type="text/css" href="../static/css/index.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" >
</head>
<body>
<div class="bg" id="dialogBg"></div>
<header>
    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">北航二手交易平台！</p>
            <ul class="fr hd-bar">
                <li class="active"><a href="../user">{{ user.nick_name }}</a></li>
                <li><a href="../uploadgoods">上传物品</a></li>
                <li><a href="../trolly">购物车</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <div class="c-box bg-box">
        <div class="login-box clearfix">
            <div class="hd-login clearfix">
                <a class="index-font" href="../index">回到首页</a>
            </div>
            <div class="main_con clearfix">
        		<div class="left_menu_con clearfix">
                    <div class="navbar_con">
		                <div class="navbar">
                			<h1 class="fl">用户中心</h1>

                		</div>
            	    </div>
                    <form action="{% url 'user' %}" method="post" autocomplete="off">
        			<ul class="subnav fl">
        				<li><a href="../user" class="active">· 个人信息</a></li>
        				<li><a href="../user_order">· 全部订单</a></li>
        				<li><a href="../user_addr">· 收货地址</a></li>
        			</ul>
                    </form>>
        		</div>
                <div class="right_content clearfix">
                    <div class="info_con clearfix">
                        <div class="navbar_con">
    		                <div class="navbar">
                    			<h1 class="fl">基本信息</h1>
                    		</div>
                	    </div>
                        <ul class="user_info_list">
                            <li><span>用户名：</span>{{ user.nick_name }}</li>
                            <li><span>性别：</span>{{ user.gender }}</li>
                            <li><span>QQ：</span>{{ user.qq }}</li>
							<li><span>手机号：</span>{{ user.mobile }}</li>
                            <li><span>邮箱：</span>{{ user.email }}</li>
                            <li><span>年级：</span>{{ user.grade }}</li>
                            <li><span>专业：</span>{{ user.major }}</li>
                            <li><span>头像：</span>{{ user.image }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>