<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <title>北航跳蚤市场</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" >
</head>
<body>
<div class="bg" id="dialogBg"></div>
<header>
    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">北航二手交易平台！</p>
            <ul class="fr hd-bar">
                <li class="active"><a href="../user">{{ user.nick_name }}</a></li>
                <li><a href="../uploadgoods">上传物品</a></li>
                <li><a href="../trolly">购物车</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <div class="c-box bg-box">
        <div class="login-box clearfix">
            <div class="hd-login clearfix">
                <a class="index-font" href="../index">回到首页</a>
            </div>
            <div class="main_con clearfix">
                <div class="left_menu_con clearfix">
                    <div class="navbar_con">
                        <div class="navbar">
                            <h1 class="fl">用户中心</h1>

                        </div>
                    </div>
                    <form action="{% url 'user' %}" method="post" autocomplete="off">
                        <ul class="subnav fl">
                            <li><a href="../user">· 个人信息</a></li>
                            <li><a href="../user_order">· 全部订单</a></li>
                            <li><a href="../user_addr">· 收货地址</a></li>
                            <li><a href="../user_good" class="active">· 全部物品</a></li>
                        </ul>
                    </form>
                </div>
                <div class="right_content clearfix">
                    <div class="info_con clearfix">
                        <div class="navbar_con">
                            <div class="navbar">
                                <h1 class="fl">全部物品</h1>
                            </div>
                        </div>
                        <div class="has_view_list">
                            <ul class="book_type_list clearfix">
                                {% for good in good_li %}
                                    <li>
                                        <a href="../detail/good_id={{ good.id }}"><img src="{% static good.image %}"></a>
                                        <h4><a href="../detail/good_id={{ good.id }}">{{ good.name }}</a></h4>
                                        <div class="operate">
                                            <span class="prize">￥{{ good.price }}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>