<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <title>北航跳蚤市场</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" >
	<link rel="stylesheet" type="text/css" href="../static/css/index.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" >
</head>

<script>
    $(function () {
        $('.oper_btn').click(function () {
            // 获取订单id和订单的状态
            var order_id = $(this).attr('order_id')
            var order_status = $(this).attr('order_status')
            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
            var params = {
                'order_id': order_id,
                'csrfmiddlewaretoken': csrf
            }
            if (order_status == 1){
                $.post('/order/pay/', params, function (data) {
                    if (data.res == 3){
                        // 把用户引导支付页面
                        window.open(data.pay_url)
                        // 查询用户的支付结果
                    }
                    else{
                        alert(data.errmsg)
                    }
                })
            }
        })
    })
</script>

<body>

<div class="bg" id="dialogBg"></div>
<header>
    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">北航二手交易平台！</p>
            <ul class="fr hd-bar">
                <li class="active"><a href="../user">{{ user.nick_name }}</a></li>
                <li><a href="../uploadgoods">上传物品</a></li>
                <li><a href="../trolly">购物车</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <div class="c-box bg-box">
        <div class="login-box clearfix">
            <div class="hd-login clearfix">
                <a class="index-font" href="../index">回到首页</a>
            </div>
            <div class="main_con clearfix">
        		<div class="left_menu_con clearfix">
                    <div class="navbar_con">
		                <div class="navbar">
                			<h1 class="fl">用户中心</h1>

                		</div>
            	    </div>
                    <form action="{% url 'user_order' %}" method="post" autocomplete="off">
        			<ul class="subnav fl">
        				<li><a href="../user">· 个人信息</a></li>
        				<li><a href="../user_order/?page={{ pages }}" class="active">· 全部订单</a></li>
        				<li><a href="../user_addr">· 收货地址</a></li>
                        <li><a href="../user_good">· 全部物品</a></li>
        			</ul>
                    </form>>
        		</div>
                <div class="right_content clearfix">
                    <div class="info_con clearfix">
                        <div class="navbar_con">
    		                <div class="navbar">
                    			<h1 class="fl">全部订单</h1>
                    		</div>
                	    </div>
                        {% for order in order_li %}
                            <ul class="order_list_th w978 clearfix">
                                <li class="col01">{{ order.add_time }}</li>
                                <li class="col02">订单号：{{ order.id }}</li>
                                <li class="col02 stress">{{ order.state | order_status }}</li>
                            </ul>
                            <table class="order_list_table w980">
                                <tbody>
                                <tr>
                                    <td width="55%">
                                        {# 遍历出来的order_books是一个OrderGoods对象 #}
                                        <ul class="order_book_list clearfix">
                                            <li class="col01"><img src="{% static order.goods.image %}"></li>
                                            <li class="col02">{{ order.goods.name }}<em>{{ order.goods.price }}元</em></li>
                                            <li class="col03">{{ order.num }}</li>
                                            <li class="col04">{{ order.price }}元</li>
                                        </ul>
                                    </td>
                                    <td width="15%">{{ order.price }}元</td>
                                    <td width="15%">{{ order.state | order_status}}</td>
                                    <td width="15%"><a href="#" order_id="{{ order.id }}" order_status="{{ order.status }}" class="oper_btn">去付款</a></td>
                                </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                         <div class="pagenation">
                            {% if order_li.has_previous %}
                                <a href="../user_order/?page={{ order_li.previous_page_number }}">上一页</a>
                            {% endif %}
                            {% for page in pages %}
                                {% if page == order_li.number %}
                                    <a href="../user_order/?page={{ pages }}" class="active">{{ page }}</a>
                                {% else %}
                                    <a href="../user_order/?page={{ pages }}">{{ page }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if order_li.has_next %}
                                <a href="../user_order/?page={{ order_li.next_page_number }}">下一页</a>
                            {% endif %}
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>